.container {
    display: flex;
    /* border: 2px solid black; */
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-shrink: inherit;
    /* justify-content: ; */
  }

  .flexitem {
    /* background-color: rgb(170, 212, 255); */
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0.5rem 0.5rem 0.5rem  rgb(74, 77, 84); */
    /* width: 15%;
  height: 15%; */
    /* margin: 2% 0%;/ */
    top: 20%;
  }

  .flexitem:hover {
    opacity: 50%;
  }

  .flexitem img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  a {
    text-decoration: none;
  }

  .social-media-container {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-shrink: inherit;
    background-color: #3e4066;
  }

  .social-media-flexitem {
    /* background-color: rgb(170, 212, 255); */
    /* border: 0.2rem solid rgb(255, 149, 166); */
    /* box-shadow: 0.5rem 0.5rem 0.5rem  rgb(74, 77, 84); */
    width: 10%;
    height: 10%;
    margin: 2% 0%;
    /* top: 20%; */
  }

  .achievement-container {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-shrink: inherit;
  }

  #achievements {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-shrink: inherit;
    background-color: #e3e3e3;
    padding: 50px;
  }

  #achievements h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }

  .achievement-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .achievement-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .achievement-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .achievement-item p {
    text-align: center;
    max-width: 400px;
    font-size: 18px;
  }

  @media (max-width: 480px) {
    #achievements {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      justify-content: space-evenly;
      flex-shrink: inherit;
      padding: 20px;
    }
  }
  .hNjWRC {
    width: 100%;
    text-align: center;
    padding: 5px;
    background: rgb(38, 38, 38);
    font-weight: 300;
  }

  .hNjWRC>p {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    color: white;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width:100%;
  }

  nav {
    background-color:transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: inherit;
    z-index: 999;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width:40%;
    background-color:transparent;
    justify-content: space-between;
  }
  nav ul span{
    display:none;
  }
  nav span{
    display:none;
  }
  nav span img{
    width:30px; 

  }
  nav li {
    margin: 0 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    /* font-size: 18px; */
    padding: 10px;
    transition: all 0.3s ease;
  }

  nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
  }

  nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    display: none;
    padding: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  nav ul li:hover>ul {
    display: block;
  }

  nav ul ul li {
    width: 200px;
    margin: 0;
  }

  nav ul ul a {
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    color: black;
    transition: all 0.3s ease;
  }

  nav ul ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
  }
  @media (max-width: 600px) {
    nav{
      padding: 10px;
    }
    nav span{
      display:block;
    }
    nav ul{
      /* display:none; */
      position:absolute;
      flex-direction: column;
      right:-100%;
      align-items: center;
      height:43vh;
      top:1rem;
      width:60%;
      transition:right 1s ease;
      justify-content: space-around;
      background-color: rgb(242, 242, 242);
      opacity: 100%;
      color: black;
    }
    .nav-item{
      font-size:2rem;
    }
    nav ul span{
      display:block;
      position:absolute;
      right:2px;
      top:2px;
    }
    nav ul li a{
      font-size:4rem;
    }
    nav div img{
      width: 2rem;
    }
  }

  .logo-container{
    display: flex;
    text-align: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    flex-shrink: inherit;
  }

  .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-top: 5px;
}
.name{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  
}
.description{
  margin: auto;
  width: 60%;
  text-align: center;
}